{% extends 'TomJerryBundle:DefaultMaster:masterSite.html.twig' %} 
{% block title %} Tom & Jerry : Home {% endblock %}

{% block styleInSitePage %}
    {{ parent() }}
{% endblock %}

{% block siteContent %}
    <div class="wrapper">
        <!--header starts-->
        <header>
            <div class="container">
                <div class="logo">
                    <a href="index.html" title="Kids Life"><img src="{{ asset('bundles/tomjerry/site/images/logo.png') }}" alt="Kids Life" title="Kids Life"></a>
                </div>
                <div class="contact-details">
                    <p class="mail">
                        <a href="#">contact@kidslife.com</a>
                        <span class="fa fa-envelope"></span>
                    </p>
                    <p class="phone-no">
                        <i>+1 959 552 5963</i>
                        <span class="fa fa-phone"></span>
                    </p>        
                </div>
            </div>
            <!--menu-container starts-->
            <div id="menu-container" style="z-index: 95;">
                <div class="container">
                    <!--nav starts-->
                    <nav id="main-menu">
                        <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span></div>
                        <ul id="menu-main-menu" class="menu">
                            <li class="mustard"> <a href="{{path('home_page')}}"> Home </a>  </li> 
                            <li class="green"><a href="{{path('about_us_page')}}"> About us </a> </li>
                            <li class="purple"><a href="{{path('our_staffs_page')}}"> Activities </a> </li>
                            <li class="current_page_item menu-item-simple-parent menu-item-depth-0 red"> 
                                <a href="{{path('full_galary_page')}}"> Gallary </a>
                            </li>
                            <li class="yellow"><a href="{{path('services_page')}}"> Services </a></li>
                            <li class="pink"><a href="{{path('contact_us_page')}}" title="">Contact us</a></li>
                        </ul>
                    </nav>
                    <!--nav ends-->

                    <ul class="dt-sc-social-icons">
                        <li><a href="#" title="Facebook" class="dt-sc-tooltip-top facebook"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" title="Youtube" class="dt-sc-tooltip-top youtube"><span class="fa fa-youtube"></span></a></li>
                        <li><a href="#" title="Twitter" class="dt-sc-tooltip-top twitter"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" title="Google Plus" class="dt-sc-tooltip-top gplus"><span class="fa fa-google-plus"></span></a></li>
                    </ul>
                </div>
            </div>
            <!--menu-container ends-->
        </header>
        <!--header ends-->
        <!--main starts-->
        <div id="main">
            <!--breadcrumb-section starts-->
            <div class="breadcrumb-section">
                <div class="container">
                    <h1>Gallary</h1>
                    <div class="breadcrumb">
                        <a href="{{path('home_page')}}">Home</a>
                        <span class="fa fa-angle-double-right"></span>
                        <span class="current">Gallary</span>
                    </div>
                </div>
            </div>
            <!--breadcrumb-section ends-->
            <!--container starts-->
            <div class="container">
                <section id="primary" class="content-full-width">
                    <div class="container">
                        {#                        <h1>Bootstrap Image Gallery Demo</h1>#}
                        <form class="form-inline">
                            <div class="form-group">
                                <button id="image-gallery-button" type="button" class="btn btn-primary btn-lg">
                                    <i class="glyphicon glyphicon-picture"></i>
                                    View Image Gallery
                                </button>
                            </div>
                        </form>
                        <br>
                        <!-- The container for the list of example images -->
                        <div id="links">
                            {%for image in images%}
                                {%set  path = 'galary-uploads/'~image.name%}
                                {%if image.imgDisplayName is null%}
                                    <a href="{{ asset(path) }}" title="{{image.name}}" data-gallery>
                                        <img src="{{ asset(path) }}" alt="" title="" height="125" width="205">
                                    </a>
                                {%else%}
                                    <a href="{{ asset(path) }}" title="{{image.imgDisplayName}}" data-gallery>
                                        <img src="{{ asset(path) }}" alt="" title="" height="125" width="205">
                                    </a>
                                {%endif%}
                            {%endfor%}
                            {#<a href="{{ asset('bundles/tomjerry/site/images/activity1.jpg') }}" title="Banana" data-gallery>
                                <img src="{{ asset('bundles/tomjerry/site/images/activity1.jpg') }}" alt="" title="" height="125" width="205">
                            </a>
                            <a href="{{ asset('bundles/tomjerry/site/images/activity2.jpg') }}" title="Banana" data-gallery>
                                <img src="{{ asset('bundles/tomjerry/site/images/activity2.jpg') }}" alt="" title="" height="125" width="205">
                            </a>
                            <a href="{{ asset('bundles/tomjerry/site/images/activity3.jpg') }}" title="Banana" data-gallery>
                                <img src="{{ asset('bundles/tomjerry/site/images/activity3.jpg') }}" alt="" title="" height="125" width="205">
                            </a>
                            <a href="{{ asset('bundles/tomjerry/site/images/activity4.jpg') }}" title="Banana" data-gallery>
                                <img src="{{ asset('bundles/tomjerry/site/images/activity4.jpg') }}" alt="" title="" height="125" width="205">
                            </a>#}
                        </div>
                        <br>
                    </div>
                </section>
            </div>
        </div>
        <!--main ends-->


        <div id="blueimp-gallery" class="blueimp-gallery">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--footer starts-->
        <footer>
            <!--footer-widgets-wrapper starts-->
            <div class="footer-widgets-wrapper">
                <!--container starts-->
                <div class="container">

                    <div class="column dt-sc-one-fourth first">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle red_sketch"> About Kids Life </h3>
                            <p>Happy <a href="#"><strong>Kids Life</strong></a> comes with powerful theme options, which empowers you to quickly and easily build incredible store.</p>
                            <ul>
                                <li> <a href="#"> English Grammar Class </a> </li>
                                <li> <a href="#"> Music class </a> </li>
                                <li> <a href="#"> Swimming & Karate </a> </li>
                                <li> <a href="#"> Lot of HTML Styles </a> </li>
                                <li> <a href="#"> Unique News Page Design </a> </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <aside class="widget widget_recent_entries">
                        </aside>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <aside class="widget tweetbox">
                        </aside>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle steelblue_sketch">Contact</h3>
                            <div class="textwidget">
                                <p class="dt-sc-contact-info"><span class="fa fa-map-marker"></span> 4318 Mansion House, Greenland <br> United States </p>
                                <p class="dt-sc-contact-info"><span class="fa fa-phone"></span> (000) 233 - 3236 </p>
                                <p class="dt-sc-contact-info"><span class="fa fa-envelope"></span><a href="mailto:yourname@somemail.com"> Kidslife@somemail.com </a></p>
                            </div>
                        </aside>
                        <aside class="widget mailchimp">
                            <p> We're social </p>
                            <form name="frmnewsletter" class="mailchimp-form" action="http://wedesignthemes.com/html/kidslife/php/subscribe.php" method="post">
                                <p>
                                    <span class="fa fa-envelope-o"> </span>
                                    <input type="email" placeholder="Email Address" name="mc_email" required />	
                                </p>	
                                <input type="submit" value="Subscribe" class="button" name="btnsubscribe">
                            </form>
                            <div id="ajax_subscribe_msg"></div>
                        </aside>
                    </div>

                </div>    
                <!--container ends-->
            </div>
            <!--footer-widgets-wrapper ends-->  
            <div class="copyright">
                <div class="container">
                    <p class="copyright-info">© 2014 Kids Life. All rights reserved. Design by <a href="http://themeforest.net/user/designthemes" title=""> Buddhathemes </a></p>
                    <div class="footer-links">
                        <p>Follow us</p>
                        <ul class="dt-sc-social-icons">
                            <li class="facebook"><a href="#"><img src="{{ asset('bundles/tomjerry/site/images/facebook.png') }}" alt="" title=""></a></li>
                            <li class="twitter"><a href="#"><img src="{{ asset('bundles/tomjerry/site/images/twitter.png') }}" alt="" title=""></a></li>
                            <li class="gplus"><a href="#"><img src="{{ asset('bundles/tomjerry/site/images/gplus.png') }}" alt="" title=""></a></li>
                            <li class="pinterest"><a href="#"><img src="{{ asset('bundles/tomjerry/site/images/pinterest.png') }}" alt="" title=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>  
        </footer>
        <!--footer ends-->

    </div>
{% endblock %}

{% block jsInSitePage %}
    {{ parent() }}
    <script type="text/javascript">
    </script>
{% endblock %}